/* You can add global styles to this file, and also import other style files */
body{
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-primary);
}
:root{
    --card-bg: #666666;
    --overlay-bg: #00000042;
    --calendar-icon-filter: brightness(0) saturate(100%) invert(63%) sepia(82%) saturate(410%) hue-rotate(353deg) brightness(97%) contrast(96%);
    --color-scheme: dark;
    --container: #363636;
    --link-popup: #303030;
    --white: white;
    --black: black;
    --blue: #00a1ff;
    --red: #ff5c7e;
    --brown: #d97d54;
    --yellow: #c7c782;
    --light-brown: #f7d1c0;
    --green: #00d8a8;
    --gray: #8d8d8d;
    --light-gray: #f5f5f520;
    --light-gray-20: #f5f5f5;
    --very-light-gray: #fafafa;
    --very-dark-gray: #212121;
    --dark-gray: #303030;
    --light-dark-gray: #424242;
    --border-tr: solid 1px #414447;
    --hover-wfl: #7d7d7d61;
    --main-bg-color: #000000;
    --light-blue: #4ac2ff87;
    --navbar: #ffffff;
    --navbar-main: #2e2f32;
    --sidebar-li: #ffffff;
    --sidebar-li-active: #ffffff;
    --sidebar-bg: #232323;
    --scroll-bar: #808080;
    --scroll-bar-hover: #a0a0a0;
    --active-sidebar: #beb3a354;
    --profile-name: #1a4269;
    --label: #f2a832;
    --inline-label: #f2a832;
    --checkbox: #424242;
    --checkbox-bg: #ffffff;
    --text: #f7f7f7;
    --icons: #acacac;
    --icons-filter: brightness(0) invert(1);
    --active-icons-filter: brightness(0) invert(1);
    --headers: #FFFFFF;
    --containers: #232323;
    --containers-content: #b6b6b7;
    --btn-toggle-filter: brightness(0.3);
    --selected-btn-toggle-filter: brightness(1);
    --box-content: #eeeeee;
    --table-header-bg: #444444;
    --table-header-text: #828282;
    --table-row-odd: #77777742;
    --table-row-even: #ffffff00;
    --table-row-hovered: #d6d6d6;
    --td: white;
    --btn-bg: #f2a832;
    --btn-expanded: #D3D3D3;
    --btn-text: #000000;
    --input-bg: #2f2f2f;
    --input-text: #f7f7f7;
    --select-bg: #2f2f2f;
    --select-text: #f7f7f7;
    --btn-hover-bg: #f5b95a;
    --btn-hover-text: #000000;
    --disabled: #565656;
    --disabled-text: #a7a7a7;
    --sidebar-handle: #a7a7a7;
    --btn-border: #595959;
    --btn-border-insurance: #616161;
    --border: #8c8c8c;
    --btn-border-bottom: 1px solid #000000;
    --placeholder-text: #6c757d;
    --header-line: #D9D9D9;
    --risk-rating-bg: #e2e2e2;
    --shadow-buttons: 0 0.0625rem 0.1875rem rgba(0, 25, 40, 0.2);
    --links: #00befe;
    --link: #00befe;
    --active: #f2a832;
    --footer-text: #343a40;
    /* --calendar-icon: url(./assets/calendar-grey.png);
    --exclamation-icon: url(./assets/exclamation_red.png);
    --xls-icon: url(./assets/xls.png);
    --pdf-icon: url(./assets/pdf.png); */
    --portfolio-toggle-bg: #ffffff;
    --portfolio-toggle: #234567;
    --nav-header: #232323;
    --header-icon: #fff;
    --container-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.6);
    --box-shadow-thin: 0px 0px 3px rgb(255 255 255 / 15%), 0px 0px 3px rgb(255 255 255 / 15%);
    --box-shadow-ccy: 0px 0px 3px rgb(255 255 255 / 15%), 0px 0px 3px rgb(255 255 255 / 15%);
    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --box-shadow-hovered: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --box-shadow-small: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
    --sidebar-line: #f4f4f4;
    /* --profile-icon: url(./assets/user-blue.png);
    --setting-icon: url(./assets/setting.png);
    --finiq-logo: url(./assets//FinIQ_logo.png);
    --logout-icon: url(./assets/logout.png); */
    --sidebar-filter: brightness(0.2) invert(1);
    --ticker-bg: #232323;
    --theme-active: #232323;
    --theme-hover: #353535;
    --content-header: #464646;
    --heading-label: #ffffff;
    --off-color: #f9e9cf;
    --cirp-header: #394346;
    --fx-line: #525252;
    --fx-text: #f2a832;
    --filter-button: #464646;
    --glass: #000000c7;
    --fx-tile: #2f2f2f;
    --selected-box: #beb3a354;
    --gap: 8px;
    --neumorphic-down: none;
    --neumorphic-up: none;
    --input-height: 35px;
    --neumorphic-disabled: none;
    --input-border: 1px solid rgb(118, 118, 118);
    --input-border-bottom: 1px solid rgb(118, 118, 118);
    --checkbox-neo: none;
    --neumorphic-sidebar: none;
    --icon-active: #f2a832;
    --icon-header: #414141;
    --dark-blue: #f2a832;
    --news-text: #f7f7f7;
    --tab-gap: 0px;
    --tab-radius: none;
    --border-tabs: 2px solid #f2a832;
    --inactive-tab-border: #8c8c8c;
    --sub-container: #313131;
    --list-hover: #7d7d7d36;
    /* --domain-ip: https://5star-demo1.finiq-connect.com; */
    --setting-box: #111111;
    --10: calc(8px + (10 - 8) * ((100vw - 1200px) / (1920 - 1200)));
    --12: calc(11px + (12 - 11) * ((100vw - 1200px) / (1920 - 1200)));
    --14: calc(12px + (14 - 12) * ((100vw - 1200px) / (1920 - 1200)));
    --16: calc(14px + (16 - 14) * ((100vw - 1200px) / (1920 - 1200)));
    --20: calc(18px + (20 - 19) * ((100vw - 1200px) / (1920 - 1200)));
    --28: calc(24px + (28 - 24) * ((100vw - 1200px) / (1920 - 1200)));
    --sub-sidebar-color: #141414;
    --linkMovement: #00cbca;
    --linkQMovement: #f03c03;
    --calendar-bg: #303030;
    --week-strip: #ec5043;
    --table-th: white;
    --best-lp: #363636;
    --best-lp-shadow: #767575;
    --submenu-active-color: #f9e9cf;
    --date-bg-color: #464545;
    --WFLabel-color: white;
    --queueCard-bg-color: #525252;
    --calendar-bg-theme: dark;
    --infoNote-bg-color: #363636;
    --infoNote-border: #595959;
    --tblTrigger-bg-color: #3e3e3e;
    --tblTrigger-border: #565656;
    --container-hover: #353535;
    --home-container: #232323;
    --queueCard-border-color: #818181;
    --tabs-bg: #2f2f2f;
    --tabs-active: #565656;
    --tile-label: #f2a832;
    --icon-delete-active: #484848;
    --rm-popup: #303030;
    --progress-bar-border: #a29c9c;
    --lbl-reverseConvertible: #baa364e7;
    --lbl-participation: #7a5f1fbf;
    --lbl-creditTranche: #827332;
    --lbl-ACC: #887c53;
    --lbl-DAC: #726043;
    --lbl-EQC: hsl(38, 29%, 53%);
    --lbl-YE: #7b5c32;
    --bg-success: #22d1aa;
    --view-popup-color: #000000;
    --table-data-ER-color: #232323;
    --page-background: #1e1e1e;
    --tbl-audtitrail-border: #4b4b4b;
    --tbl-th-audit-trail: #000000;
    --date-active: #ffffff;
    --ripple-color: #ffffff;
    --select-product: #000000;
    --select-product-color: #ffffff;
    --tbl-prevquotes: #232323;
    --autocall-color: #d6d6d6;
    --disabled-tabs-color: #98999A;
    --pricer-popup-color: #ffffff;
    --subscription-th: #555555;
    --header: #ffffff;
    --card-bg-hover: linear-gradient(to right,#2c2c2c00 0%,#2c2c2c 20%,#323232 40%,#262626 100%);
    --customTabGridButton: #FF8B00;
    --dropdown-arrow: #706b6b;
    --customtabHeaderBGColor: #232323;
    --customtabHeaderColor: #FF8B00;
    --readOnlyBGColor: #2e2e2e;
    --readOnlyValueColor: #979595;
    --staticbuttonBGcolor: #FF8B00;
    --staticbuttontxtcolor: #ffffff;
    --matselectedBGcolor: #2e2e2e;
    --chartheadertextcolor: #b6b6b6;
    --mainDEBGColor: #000000;
    --wflButtonsBGColor: #FF8B00;
    --wflButtonsTxtColor: #ffffff;
    --selectedValInSearchCompBGClr: #666666;
    --searchCompBGClr: #000000;
    --searchCompHeaderBGClr: #000000;
    --calenderBGClr: #262626;
    --calenderSelectedCircleBGClr: #ffffff;
    --radiobuttoncolor: #b6b6b6;
    --input-focus: #000000;
    --ucp-neumorphic-down: inset 0px 0px 0px #1c1c1c, inset 0px 0px 0px #2a2a2a;
    --ucp-neumorphic-up: 0px 0px 0px #191919, 0px 0px 0px #2e2e2e;
    --ucp-mat-select-clr: #f7f7f7;
    --ucp-disbled: #666666;
    --ucp-enabled: #333333;
    --ucp-btn-text: #ffffff;
    --ucp-btn-bg: #666666;
    --ucp-button-neumorphic-up: 0px 2px 2px #080808, 0px 2px 2px #2f2f2f;
    --ucp-draft-btn: 2px 0px 0px #F4A460, 0px 4px 6px #F4A460;
    --ucp-save-btn: 2px 0px 0px #FFA500, 0px 4px 6px #FFA500;
    --ucp-reprice-btn: 2px 0px 0px #BDB76B, 0px 4px 6px #BDB76B;
    --ucp-clear-btn: 2px 0px 0px #BEE2F5, 0px 4px 6px #BEE2F5;
    --ucp-simulation-btn: 2px 0px 0px #DDA0DD, 0px 4px 6px #DDA0DD;
    --topMarginInput: -0.55em;
    --matInputBGColor: #333333;
    --dateLeftPadding: 1px;
    --dateRightPadding: 15px;
    --border-color: rgb(116, 115, 115);
    --ucp-th-font: #FF8B00;
    --even-row: #1A1A1A;
    --odd-row: #1A1A1A;
    --font-color: #ffffff;
    --text-blue: #87CEEB;
    --mat-inputspan: #d9d9d9;
    --ucp-input-bg: #333333;
    --ucp-input-clr: #bdbdbd;
    --ucp-opposite: white;
    --ucp-same: black;
    --ucp-table-header-bg: #444444;
    --ucp-btn-text-clr: black;
    --ucp-checkbox-bg: #ffffff;
    --ucp-checkbox: #6e6e6e;
    --mat-select-arrow: rgba(189, 189, 189, 0.54);
    --linear-grad1: #000;
    --linear-grad2: #ABABAB;
    --linear-grad3: #2C2C2C;
    --ucp-text-color: #FFFFFF;
    --icon-active-bg: #0e0e0e;
    --dropdown-hover: #634f34;
    --ucp-border-bg: #484848;
    --ucp-selected-panel-bg: #666666;
    --tooltip-border: 1px solid #585858;
    --tooltip-title-background: #2f2f2f;
    --tr: #000000;
    --tr-odd: #161616;
    --header-shadow: none;
    --header-bg: #F2a832;
    --bbva-logo: #fff;
    --Selected-text: #1D73B2;
    --selected-tab-bg: #F9E9CF;
    --selected-tab-border: #F2a832;
    --dark-blue1: #1D73B2;
    --blue-color: #1D73B2;
    --primary-color: #1D73B2;
    --container-color: #131313;
    --bg-color: #000000;
    --line: #EEEEEE;
    --scroll-bar-track-bg: #252525;
    --tabs-active-text: #dbdbdb;
    --selected: #4a4a4a;
    --grey-normal: #393939;
    --grey-light: #161616;
    --grey-dark: #5B5B5B;
    --sent: #282828;
    --received: #094258;
    --sent-text: #fff;
    --received-text: #fff;
    --shirt-color: #4477BA;
    --laptop-color: #2A3F68;
    --logout-submit-btn: #0578BE;
    --logout-bg: #232323;
    --logout-title: #fff;
    --logout-btn-text: #fff;
    --button-bg: #1d486f;
    --green-pastel: #E5F2E9;
    --green-text: #49BB76;
    --disabledtabs-text: #fff;
    --disabledtabs-bgcolor: #000000;
    --loading-1: #282828;
    --loading-2: #131313;
    --loading-3: #ffffff;
    --bid-yield: #2FDBAE;
    --ask-yield: #FF6565;
    --grid-bg: #2f2f2f;
    --smallDiv-bg: #000000;
    --price-btn: #FFB033;
    --price-text: #000000;
    --pricer-tbl-bg: #2d2d2d;
    --pricer-text: peachpuff;
    --select-bk: #000000;
    --option-bg: #000000;
    --popup-bk: #252525;
    --popup-box-shadow: #1d1d1d;
    --popup-border: #101010;
    --pair-box-shadow: #3a3a3a;
    --input-disabled: #666;
    --scroll-bg: #cccccc;
    --scroll-bg-color: #cccccc;
    --tile-bg: #444;
    --switch-bg-sell: #0e0e0e;
    --span-bg: #252525;
    --shadow-head: #1d1d1d;
    --border-chk: #fff;
    --product-bg: #000000;
    --aqdq-bg: #000000;
    --box-inner-bg: #272525c2;
    --li-hover-bg: #000000;
    --popup-border-bg: #484848;
    --ELN-bg: #3a3a3a;
    --crudShadow: #e0e0e0;
    --btn-color: #000000;
    --select-disabled: #383838;
    --switch-selction-bg: #ff9800;
    --nav-btn-bg: #ff9c00;
    --heading-label-workflow: #808080;
    --btn-pricegrid-disabled-ip: #666;
    --pricer-grid-bg-ip: #2f2f2f;
    --bestprice-style-bg-ip: #07825E;
    --pricetext-color-ip: #ffffff;
    --btn-disabled-text-ip: #cccccc;
    --Tilebg-color-ip: #000000;
    --timer-text: #bdbdbd;
    --switch-select-bg: #333;
    --filter-maple: invert(55%) sepia(96%) saturate(1325%) hue-rotate(1deg) brightness(105%) contrast(104%);
    --action-icon-maple: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    --action-icon-maple-hover: invert(31%) sepia(95%) saturate(836%) hue-rotate(334deg) brightness(100%) contrast(100%);
    --action-drawer: #000;
    --action-drawer-border: #162258;
    --rfq-text: #ff9c00;
    --advYes: #f7f7f7;
    --advNo: #ff4545;
    --btnfilter_IP: invert(242%) sepia(93%) saturate(50%) hue-rotate(284deg) brightness(150%) contrast(350%);
    --dialogboxbgIP: black;
    --shdwdialogboxbgIP: #e0e0e0;
    --templatenamebg-IP: black;
    --templatenamebghover-IP: #2f2f2f;
    --tempplatetext-IP: #ffffff;
    --orderDetailsmsg: #85ca9e;
    --rfqtextFXD-ip: #fff;
    --rfqtextEQC-ip: #FFF;
    --Buy_DirectionFXD-ip: #07825E;
    --Sell_DirectionFXD-ip: #CB2C30;
    --orderHeader-bottomline-color-IP: #FF9C00;
    --select-bg-ip: #414141;
    --mkt-tbl-header-color: #414141;
    --link-select: #000000;
    --link-div: #1d4662;
    --layout-inner-container: rgb(180, 180, 180);
    --sub-header-lcm: rgb(180, 180, 180);
    --tile-1: rgb(67, 94, 190);
    --tile-2: rgb(6, 146, 143);
    --tile-3: rgb(254, 147, 39);
    --tile-4: rgb(255, 202, 51);
    --active-date: #7d7d7d;
    --hist-perf-row: transparent;
    --hist-perf-rowbg: #9d9d9d;
    --icon-wf-mpg: brightness(0) invert(1);
    --lightgreycs: #393939;
    --box-border: #404040;
    --fontcolor: #afafaf;
    --midgrey: rgb(35, 35, 35);
    --TableHeaderBGColor: #383838;
    --icon-hover: #363636;
    --tilecolor: #f2a832;
    --pairTextColor: #FFFFFF;
    --icon-change-card-grid-wf: invert(94%) sepia(16%) saturate(6822%) hue-rotate(321deg) brightness(90%) contrast(105%);
    --fxperformance-btn: #303030;
    --fx-chart-bg: #303030;
    --fx-cancel-icon: #f7f7f7;
    --fx-newsContainer: #000000;
    --wlGridHover: #000000;
    --card-header: #232323;
    --card-btn: #f1a641;
    --card-border: #303030;
    --card-input: #1b1b1b;
    --toggle-disabled: #b2925f;
    --font-family: "Roboto", sans-serif;
    --font-primary: "Open Sans", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
    --ucp-disabled: #dadada;
    --btn-disabled: rgb(241 166 65 / 75%);
    --select-dropdown-bg: #efefef;
    --notificationsPopUpBG: #e0e0e0;
    --calendar-prev-dates: #efefef;
    --tilebgcolor: #f5fafb;
    --page-title-hr: #0D445B;
    --bt-disabled-text: #937676;
    --mail: #77a5e3;
    --invert: invert(1);
}